# Series

In [5]:
import numpy as np
import pandas as pd
arr=np.array([1,2,3,4])
l=[1,2,3,4]
s1=pd.Series(arr,index=l)
s1

1    1
2    2
3    3
4    4
dtype: int64

In [7]:
s1[1] #Get data by label

1

In [8]:
s1.dtype

dtype('int64')

In [9]:
import numpy as np
import pandas as pd
arr=np.array([1,2,3,4])
#l=[1,2,3,4]
s2=pd.Series(arr)
s2

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
s=s1+s2
s
#subtract, multiply, divide
#NaN because they do not line up based off their labels

0    NaN
1    3.0
2    5.0
3    7.0
4    NaN
dtype: float64

In [11]:
np.exp(s1)

1     2.718282
2     7.389056
3    20.085537
4    54.598150
dtype: float64

In [12]:
# Difference btw np.array and series is that operations align by label in series

In [13]:
import numpy as np
import pandas as pd
arr=np.array([1,2,3,4])
l=['a','b','c','d']
s1=pd.Series(arr,index=l)
s1

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
s3=pd.Series(arr,index=l,name='rand_name')
s3.name

'rand_name'

# Data Frames

In [31]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [18]:
arr_1=np.random.randint(10,50,(2,3)) #2 row, 3 column random array with nums btw 10 and 50
df_1=pd.DataFrame(arr_1,['A','B'],['C','D','E'])
df_1

    C   D   E
A  18  10  42
B  10  23  28

In [23]:
dict_3={'one':pd.Series([1.,2.,3.],index=['a','b','c']),'two':pd.Series([1.,2.,3.,4.],['a','b','c','d'])}
df_2=pd.DataFrame(dict_3)
df_2

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [24]:
dict_3={'one':pd.Series([1.,2.,3.],index=['a','b','c']),'two':pd.Series([1.,2.,3.,4.],['e','b','c','d'])}
df_2=pd.DataFrame(dict_3)
df_2

   one  two
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
e  NaN  1.0

In [28]:
pd.DataFrame.from_dict(dict([('A',[1,2,3]),('B',[4,5,6])],
                            orient='index',columns=['one','two','three'])

SyntaxError: unexpected EOF while parsing (1988148916.py, line 2)

In [29]:
pd.DataFrame.from_dict(dict([('A',[1,2,3]),('B',[4,5,6])]),orient='index',columns=['one','two','three'])

   one  two  three
A    1    2      3
B    4    5      6

In [30]:
print(df_1.shape)

(2, 3)